/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Horror Type', sans-serif;
    line-height: 1.6;
    background: url('./images/MurderMystery.jpg') no-repeat center center;
    background-size: cover; /* Ensures the image covers the entire section */
    background-attachment: fixed; /* Allows the image to move with scrolling */
    background-color: black;
    color: #333;
}

header {
    color: white;
    padding: 0.5rem 0; /* Slimmer padding */
}


.main {
    position: relative;
    width: 100%;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden; /* Ensures content doesn't overflow outside */
}

.overlay {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.overlay h1 {
    font-family: 'Red Undead', sans-serif;
    font-size: 8rem;
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Enhance readability */
}

.main h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

.image-text {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.main p {
    font-size: 4.2rem;
    margin-bottom: 2rem;
}

.content {
    padding: 2rem;
    max-width: 1200px;
    margin: 2rem auto;
    text-align: center;
}

.content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.content p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
}